---
title: "Noobfield Industries"
---

<html>
  <head>
    <title>{{ page.title }} - Noobfield</title>
    <link type="stylesheet" href="css/bricks.css">
  </head>
  <body>
    <div class="block">
      <h1>{{ page.title }}</h1>
      <hr>
      <p>
        {{ page.content }}
      </p>
    </div>
    <div class="block">
      <h2>Posts:</h2>
      <ul>
          <li>Latest: <a href="{{ pages.last.url }}">{{ pages.last.title }}</a></li>
          {% for post in pages %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
      </ul>
    </div>
  </body>
</html>