---
title: "Noobfield Industries"
---

<html>
  <head>
    <title>{{ page.title }} - Noobfield</title>
    <link rel="stylesheet" href="css/bricks.css">
  </head>
  <body>
    <div class="block">
      <h1>{{ page.title }}</h1>
      <small>Posted on {{ page.date }}, </small>
      <hr>
      <p>
        {{ page.content | markdownify }}
      </p>
    </div>
    <div class="block">
      <h2>Posts:</h2>
      <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>